.add-project-button {
  margin-bottom: 3%;
  text-decoration: none;
  border: 1px solid rgb(168, 165, 165);
  border-style: outset;
  border-width: 3px;
  padding: 0.5%;
  color: white;
  background-color: darkblue;
}

.multiselect-label {
  display: block;
  font-weight: bold;
  padding: 12px 20px;
  text-align: center;
  background-color: #ffe4c4;
}
.multiselect-value {
  display: block;
  margin-bottom: 5%;
}
