.add-project-button {
  margin-bottom: 3%;
  text-decoration: none;
  border: 1px solid rgb(168, 165, 165);
  border-style: outset;
  border-width: 3px;
  padding: 0.5%;
  color: white;
  background-color: darkblue;
}

.multiselect-value {
  text-align: left;
  width: 360px;
}


