.table-container {
  display: flex;
  flex-direction: row;
  margin:1%;
}

.table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.column {
  height: 70px;
  border: 1px solid #000;
  background-color: #ffe4c4;
}

.row {
  height: 70px;
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
}

.edit-button {
  margin-right: 20px;
}

.edit-link-button {
  color: #000;
  text-decoration: none;
}
