.delete-button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border-color: black;
  cursor: pointer;
}

.edit-project-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  border: 2px solid;
  padding: 1px 6px;
  border-style: outset;
  background-color: green;
  color: white;
  border-color: grey;
}
.add-project-button {
  width: 10%;
}

.display-container {
  display: flex;
  flex-direction: row;
  margin:1%;
}

.project-table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.project-column {
  height: 70px;
  border: 1px solid #000;
  background-color: #ffe4c4;
}

.project-row {
  height: 70px;
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
}
