* {
  box-sizing: border-box;
  margin: 0;
}

.home-header {
  overflow: hidden;
  background-color: #000;
  margin-top: 0%;
  color: white;
  padding: 1%;
  text-align: center;
}

.logout-button {
  float: right;
  color: red;
  padding: 0.87%;
  background-color: white;
  border-color: grey;
  border-style: outset;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.home-tabs {
  display: flex;
  margin-bottom: 2%;
  justify-content: space-between;
  background-color: rgb(197, 197, 197);
}

.home-link {
  padding: 1%;
  width: 50%;
  text-align: center;
  border: 1px solid #000;
  text-decoration: none;
  font-weight: bolder;
  color: black;
}
